.hero-section {
    min-height: 60vh;

    @media (max-width: 600px) {
        min-height: 60vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.bg-gradient {
    background: linear-gradient(to right, $pdf-color, black);
    background-size: cover;
    background-attachment: fixed;
}

.hero-title {
    font-weight: bold;
}

.hero-description {
    font-size: 1.5rem;
}