/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .landing-page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.navbar,
.landing-page {
  grid-column: 1 / -1;
} */




$pdf-color: #FC271C;
$color-map: (
  'merge-pdf': $pdf-color,
  'split-pdf': #fd7e14,
  'compress-pdf': #28a745,
  'pdf-to-powerpoint': #C13B1B,
  'jpg-to-pdf': #f1c40f,
  'word-to-pdf': #1B5EBE,
  'powerpoint-to-pdf': #C13B1B,
  'excel-to-pdf': #10793F,
  'html-to-pdf': rgb(228, 77, 38),
  'pdf-to-jpg': #f1c40f,
  'pdf-to-word': #1B5EBE,
  'pdf-to-excel': #10793F,
  'pdf-to-pdf-a': #000000,
);

html,
body,
#__next,
.tools-page {
  height: 100%;
}

// #__next,
// .tools-page {
//   min-height: 90%;
//   height: 99%;
// }


.h-5 {
  height: 1em;
}

.w-5 {
  width: 1em;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.img-fluid-custom {
  max-width: 100%;
  height: 100%;
}

.bdi,
a.dropdown-item {
  unicode-bidi: isolate;
}

.html {
  /* background: -webkit-linear-gradient(
    to right,
    rgb(228, 77, 38),
    rgb(241, 101, 41)
  );
  background: linear-gradient(to right, rgb(228, 77, 38), rgb(241, 101, 41));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: rgb(228, 77, 38);
}

#basic-nav-dropdown {
  padding-left: 1.5rem !important;
}

@media (min-width: 992px) {
  .drop-down-container {
    flex-wrap: nowrap !important;
  }
}

/* landing page layout */

/* hero section styles */

.hero-section {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-gradient {
  background: linear-gradient(to right, $pdf-color, black);
}

.hero-title {
  font-weight: bold;
}

.hero-description {
  font-size: 1.5rem;
}

/* features section */

.features-section {
  background-color: #f8f9fa;
}

.feature-card {
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #f2f2f2;
    transform: scale(1.001);

    @each $key,
    $color in $color-map {
      &.#{$key} {
        box-shadow: -.3px -.3px 3px .3px darken($color, 20%) !important;
      }
    }
  }

}

.feature-icon {
  display: flex;

  /* justify-content: center; */
  margin-bottom: 1rem;

  svg {
    width: 4em;
    height: 4em;
    padding: 0.5em;
  }
}

.feature-card {
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.feature-icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.feature-icon svg {
  transition: transform 0.1s ease-in-out;
}

.feature-card:hover svg {
  transform: scale(1.1);
}

.column {

  &:first-child,
  &:nth-child(5) {
    margin-bottom: 15px;
  }

  padding-left: 0 !important;
}

/* tools page */

.tools {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.dropdown-item {

  &.active,
  &:active {
    background-color: initial !important;
    color: #212529 !important;
  }
}

.react-tooltip {
  z-index: 100;
}

// error element styles
.error-element {
  .hide-on-rtl {
    [dir=rtl] &, [lang="ar"] & {
      display: none;
    }
  }
  .hide-on-rtl {
    [dir=ltr] &, :not([lang="ar"]) & {
      display: none;
    }
  }
}
@import "./scss/toolspage";
@import "./scss/editpage";
@import "./scss/display-file";
@import "./scss/navbar"

